<!--<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">-->
<!--  <nz-card>-->
<!--    <div nz-row nzGutter="24">-->
<!--      <div nz-col nzSpan="12">-->
<!--        <lib-form-item label="ID" controlSpan="16" labelSpan="8">-->
<!--          <lib-text-input id="id" formControlName="id"></lib-text-input>-->
<!--        </lib-form-item>-->
<!--      </div>-->

<!--      <div nz-col nzSpan="12">-->
<!--        <lib-form-item label="Марка" controlSpan="16" labelSpan="8">-->
<!--          <lib-text-input id="mark" formControlName="mark"></lib-text-input>-->
<!--        </lib-form-item>-->
<!--      </div>-->
<!--      <div nz-col nzSpan="12">-->
<!--        <lib-form-item label="Модел" controlSpan="16" labelSpan="8">-->
<!--          <lib-text-input id="model" formControlName="model"></lib-text-input>-->
<!--        </lib-form-item>-->
<!--      </div>-->
<!--      <div nz-col nzSpan="12">-->
<!--        <lib-form-item label="Година" controlSpan="16" labelSpan="8">-->
<!--          <lib-datepicker-->
<!--            id="manufactureYear"-->
<!--            formControlName="manufactureYear"-->
<!--          ></lib-datepicker>-->
<!--        </lib-form-item>-->
<!--      </div>-->

<!--      <div nz-col nzSpan="12">-->
<!--        <lib-form-item label="Производител" controlSpan="16" labelSpan="8">-->
<!--          <lib-text-input-->
<!--            id="manufacturer"-->
<!--            formControlName="manufacturer"-->
<!--          ></lib-text-input>-->
<!--        </lib-form-item>-->
<!--      </div>-->
<!--      <div nz-col nzSpan="12">-->
<!--        <lib-form-item controlSpan="16" labelSpan="8">-->
<!--          <label nz-checkbox id="active" formControlName="active"-->
<!--            >Активен</label-->
<!--          >-->
<!--        </lib-form-item>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nz-card>-->

<!--  <div nz-row nzGutter="20" nzJustify="end" style="margin: 10px">-->
<!--    <div nz-col>-->
<!--      <button nz-button type="submit" nzType="primary">-->
<!--        {{ form.value.way4bill_id ? "Актуализирай" : "Запиши" }}-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
