<vfm-dummy-table-checkboxes
  [tableHeight]="'72vh'"
  [loading]="loading"
  [haveEdit]="true"
  [allItems]="currentItems"
  [listOfColumns]="allTableColumns"
  (onItemDblClick)="editRecord($event)"
  (onItemClick)="currentItemSelect($event)"
>
</vfm-dummy-table-checkboxes>

<div nz-row nzGutter="10"  style="margin: 0.5em;">
  <div nz-col>
    <button nz-button nzType="default" type="button" id="addButton" (click)="editRecord()">
      <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
      <span >Add record</span>
    </button>
  </div>
  <div nz-col>
    <button
      type="button"
      id="editButton"
      nz-button nzType="default"
      (click)="editRecord(currentItem)"
      [disabled]="!currentItem"
    >
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      <span >Edit</span>
    </button>
  </div>
  <div nz-col>
    <button
      type="button"
      id="deleteButton"
      nz-button
      nzType="default"
      nzDanger
      (click)="removeRecord()"
      [disabled]="!currentItem"
    >
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      <span >Delete</span>
    </button>
  </div>
</div>


