.app-layout {
  height: 100vh;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  //background: #fff;
  background: #a0d6bf;
  transition: all 0.3s;
  text-align: center;
  padding: 0 10px;
}

.logo {
  width: 200px;
  height: 40px;
  float: left;
  position: relative;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
  text-align: center;
  background: #a0d6bf;
}

.logo img {
  display: inline-block;
  height: 40px;
  max-width: 100%;
  vertical-align: sub;
}

.ant-layout-header {
  height: 40px;
  padding: 0 ;
}

.header-menu {
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #a0d6bf;

  & li{
    font-weight: bold;
    color: #000000;
    & .ant-menu-item-selected{
      color: #ffffff;
    }
    &:hover {
      color: #ffffff;
    }
  }
}

.sider-menu {
  position: relative;
  z-index: 10;
  min-height: 94vh;
  //box-shadow: 2px 0 6px rgba(24, 144, 255, 0.44);
  background: #a0d6bf;
}

.inner-layout {
  padding: 12px;
}

.greeting {
  width: 70%;
  text-align: end;
  //text-decoration-line: underline;
  font-weight: bold;
  color: #000000;
  padding-right: 10px
}

nz-content {
  padding: 0.5em;
  max-height: 95vh;
  margin: 0;
  overflow: auto;
}

.login-user{
  background-image: url("../../../assets/images/full1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.guest{
  background-image: url("../../../assets/images/empty.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}



