<div
  [ngClass]="{
    'ant-form-item-has-error': control && control.invalid && (control.dirty || control.touched)
  }"
>
  <textarea
    nz-input
    ngDefaultControl
    id="{{ id }}"
    placeholder="{{ placeholder }}"
    [nzAutosize]="autosize"
    [readonly]="readonly"
    [ngClass]="{
      'ng-dirty ng-invalid': control && control.invalid && (control.dirty || control.touched)
    }"
  >
  </textarea>
  <div class="ant-form-item-explain-error" *ngIf="control && control.invalid && (control.dirty || control.touched)">
    {{ control.errors | vfmValidationErrorI18N }}
  </div>
</div>
