.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  .inner-content {
    padding: 2em;
    box-shadow: 0 1px 2px #c6c3c3;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.93);
    overflow-y: hidden;
  }

  .login-wrapper {
    max-width: 420px;
    margin: 0 auto;
    position: relative;
  }

  .greetings {
    color: #ffffff;
    background: rgba(0, 120, 203, 0.73);
    padding: 1px 15px;
    border-radius: 8px;
  }
}

.login-form-button {
  margin-top: 10px;
  width: 100%;
  display: flex;
  & button{
    border-radius: 8px;
  }
}

.register-text{
  margin-top: 10px;
  text-align: end;
  & .link{
    color: #0078cb;
    cursor: pointer;

  }
}
