<nz-table
  [nzData]="currentItems"
  [nzFrontPagination]="true"
  [nzShowSizeChanger]="false"
  [nzShowQuickJumper]="true"
  [nzPageSize]="50"
  [nzTitle]="titleTemplate"
  [nzScroll]="{ x: '100%', y: tableHeight }"
  [nzLoading]="loading"
  [nzBordered]="false"
  [nzSize]="'small'"
  [nzOuterBordered]="true"
  [nzVirtualItemSize]="10"
  [nzVirtualForTrackBy]="trackByFn"
  [nzHideOnSinglePage]="true"
>
  <thead>
  <tr>
    <th
      *ngIf="haveCheckboxes"
      [nzWidth]="'40px'"
      [(nzChecked)]="checked"
      [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <ng-container *ngFor="let column of listOfColumns">
      <th
        [nzAlign]="column?.align || 'left'"
        [nzRight]="column.right === true"
        [nzWidth]="column.width ? column.width : '100%'"
        [nzShowSort]="column.showSortFn"
        [nzSortFn]="column.sortFn!"
      >
        {{ column.title }}
      </th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <ng-template nz-virtual-scroll let-currentItems let-index="index">
    <tr
      (click)="haveEdit ? onClick(currentItems) : null"
      (dblclick)="haveEdit ? onDblClick(currentItems) : null"
      [ngClass]="haveEdit ? {'selected': currentItems.id === selectedId}: ''"
    >
      <td
        *ngIf="haveCheckboxes"
        id="action"
        nzAlign="center"
        [nzChecked]="setOfCheckedId.has(currentItems.id)"
        (nzCheckedChange)="onItemChecked(currentItems.id, $event)"
      ></td>
      <ng-container *ngFor="let prop of listOfColumns">
        <td
          [nzAlign]="'left'"
          nzEllipsis
          [ngSwitch]="prop.type"
          [nzRight]="prop.right === true"
        >
          <ng-container *ngIf="prop.type==='status'">
            {{
              currentItems[prop.propsName]===true?'active':'inactive'
            }}
          </ng-container>
          <ng-container *ngIf="prop.type==='array'">
            {{
              currentItems[prop.propsName] | vfmArrToStringPipe
            }}
          </ng-container>
          <ng-container *ngIf="prop.type==='date'">
            {{
              currentItems[prop.propsName] | vfmDateTime
            }}
          </ng-container>
          <ng-container *ngIf="prop.type==='text'">
            {{
              currentItems[prop.propsName]
            }}
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </ng-template>
  </tbody>
</nz-table>


