<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
      <vfm-form-item label="ID" labelSpan="24" i18n-label>
        <vfm-text-input id="id" formControlName="id"></vfm-text-input>
      </vfm-form-item>
    </div>
    <div nz-col nzSpan="12">
      <vfm-form-item>
        <label nz-checkbox id="active" formControlName="status" style="vertical-align: sub;"  i18n
        >Is active</label
        >
      </vfm-form-item>
    </div>
    <div nz-col nzSpan="24">
      <vfm-form-item label="Name" labelSpan="24" i18n-label>
        <vfm-text-input id="name" formControlName="name"></vfm-text-input>
      </vfm-form-item>
    </div>
    <div nz-col nzSpan="24">
      <vfm-form-item label="Description" labelSpan="24" i18n-label>
        <vfm-text-input id="description" formControlName="description"></vfm-text-input>
      </vfm-form-item>
    </div>

  </div>

  <div nz-row nzGutter="20" nzJustify="end" style="margin: 10px">
    <div nz-col>
      <button nz-button type="submit" nzType="primary" *ngIf="form.getRawValue().id" i18n>
        Edit
      </button>
      <button nz-button type="submit" nzType="primary" *ngIf="!form.getRawValue().id" i18n>
        Save
      </button>
    </div>
  </div>
</form>
