.wrapper{
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
}


.link {
  color: #0078cb;
  cursor: pointer;
}
