<div class="wrapper" >
  <div style="color: aquamarine; background: rgba(198,195,195,0.89); text-align: center;vertical-align:auto;width: 40%">
    <h1 >
      <span i18n>Hello to our site </span>
      <span *ngIf="currentUser?.username">{{ currentUser?.username}}</span>
      <span *ngIf="!currentUser?.username" i18n>Guest</span>
    </h1>
    <div  *ngIf="currentUser?.username">
      <ul style=" text-align: left;align-content: center">
        <h2> Here you can manage: </h2>
        <li>add car brand, and models,</li>
        <li>add car brand, and models.</li>
        <li>add car records and waybills</li>
      </ul>
    </div>

    <h3 *ngIf="!currentUser?.username">Please
      <span class="link" routerLink="/register">register</span>  /
      <span class="link" routerLink="/login">login</span> to view more!</h3>
  </div>
</div>


