<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <nz-card>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="24">
        <vfm-form-item label="ID" controlSpan="16" labelSpan="8" i18n-label>
          <vfm-text-input id="id" formControlName="id"></vfm-text-input>
        </vfm-form-item>
      </div>


      <div nz-col nzSpan="24" *ngIf="type===EditFormTypes.RESPONSIBLE || type===EditFormTypes.DRIVERS">
        <vfm-form-item label="Name" controlSpan="16" labelSpan="8" i18n-label>
          <vfm-text-input id="driverId" formControlName="driverId"></vfm-text-input>
        </vfm-form-item>
      </div>

      <div nz-col nzSpan="24" *ngIf="type===EditFormTypes.RESPONSIBLE || type===EditFormTypes.DRIVERS">
        <vfm-form-item label="Phone number" controlSpan="16" labelSpan="8" i18n-label>
          <vfm-text-input id="phoneNumber" formControlName="phoneNumber"></vfm-text-input>
        </vfm-form-item>
      </div>

      <div nz-col nzSpan="24" *ngIf="type===EditFormTypes.REGISTRATIONNUMBER">
        <vfm-form-item label="Registration number" controlSpan="16" labelSpan="8" i18n-label>
          <vfm-text-input id="registration" formControlName="registration"></vfm-text-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="24" *ngIf="type===EditFormTypes.REGISTRATIONNUMBER">
        <vfm-form-item label="Registration date" controlSpan="16" labelSpan="8" i18n-label>
          <vfm-datepicker id="registrationDate" formControlName="registrationDate"></vfm-datepicker>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="24" *ngIf="type===EditFormTypes.FUELCARD">
        <vfm-form-item label="Card number" controlSpan="16" labelSpan="8" i18n-label>
          <vfm-text-input id="cardNumber" formControlName="cardNumber"></vfm-text-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="24" *ngIf="type===EditFormTypes.FUELCARD">
        <vfm-form-item label="Limit" controlSpan="16" labelSpan="8" i18n-label>
          <vfm-number-input id="cardLimit" formControlName="cardLimit"></vfm-number-input>
        </vfm-form-item>
      </div>

      <div nz-col nzSpan="24">
        <vfm-form-item controlSpan="16" labelSpan="8">
          <label nz-checkbox id="status" formControlName="status"  i18n
          >Active</label
          >
        </vfm-form-item>
      </div>
    </div>
  </nz-card>

  <div nz-row nzGutter="20" nzJustify="end" style="margin: 10px">
    <div nz-col>
      <button nz-button type="submit" nzType="primary" *ngIf="form.getRawValue().id" i18n>
        Edit
      </button>
      <button nz-button type="submit" nzType="primary" *ngIf="!form.getRawValue().id" i18n>
        Save
      </button>
    </div>
  </div>
</form>
