<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <nz-card style="margin: 0.5em 0">
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="6">
        <vfm-form-item label="Id"  i18n-label>
          <vfm-text-input
            id="id"
            formControlName="id"
          ></vfm-text-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="6">
        <vfm-form-item label="Registration number"  i18n-label>
          <vfm-text-input id="registrationNumber" formControlName="registrationNumber"></vfm-text-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="6">
        <vfm-form-item label="Responsible"  i18n-label>
          <vfm-text-input id="responsible" formControlName="responsible"></vfm-text-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="6">
        <vfm-form-item label="Old report(km)"  i18n-label>
          <vfm-text-input id="lastMileage" formControlName="lastMileage"></vfm-text-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="6">
        <vfm-form-item label="Date from"  i18n-label>
          <vfm-datepicker
            id="date"
            formControlName="date"
          ></vfm-datepicker>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="6">
        <vfm-form-item label="Period"  i18n-label>
          <vfm-datepicker
            id="period"
            formControlName="period"
            mode="month"
            format="MMM.yyyy"
          ></vfm-datepicker>
        </vfm-form-item>
      </div>

      <div nz-col nzSpan="6">
        <vfm-form-item label="New report(km)"  i18n-label>
          <vfm-text-input id="newMileage" formControlName="newMileage"></vfm-text-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="6">
        <vfm-form-item label="Mileage"  i18n-label>
          <vfm-text-input id="mileage" formControlName="mileage"></vfm-text-input>
        </vfm-form-item>
      </div>
    </div>
  </nz-card>
  <nz-card
    nzTitle="Fuel loaded"
    [nzSize]="'small'"
    [nzBodyStyle]="{ padding: '10px 15px' }"
    i18n-nzTitle
  >
    <div nz-row nzGutter="10">
      <div nz-col nzSpan="5">
        <vfm-form-item label="Type" i18n-label>
          <vfm-text-input
            id="fuelType"
            formControlName="fuelType"
          >
          </vfm-text-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="6">
        <vfm-form-item label="Kind" i18n-label>
          <vfm-select id="fuelKind" formControlName="fuelKind" [options]="fuelKindOptions" i18n>
          </vfm-select>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="5">
        <vfm-form-item label="Supplier" i18n-label>
          <vfm-select id="fuelSupplier" formControlName="fuelSupplier" [options]="fuelSupplierOptions" i18n>
          </vfm-select>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="4">
        <vfm-form-item label="Amount" i18n-label>
          <vfm-number-input
            id="fuelAmount"
            formControlName="fuelAmount"
          >
          </vfm-number-input>
        </vfm-form-item>
      </div>
      <div nz-col nzSpan="4">
        <vfm-form-item label="Price" i18n-label>
          <vfm-number-input
            id="fuelPrice"
            formControlName="fuelPrice"
          >
          </vfm-number-input>
        </vfm-form-item>
      </div>
    </div>
  </nz-card>
  <div nz-row nzGutter="12">
    <div nz-col nzSpan="6">
      <vfm-form-item label="Created by" controlSpan="24" i18n-label>
        <vfm-text-input
          id="createdBy"
          formControlName="createdBy"
        ></vfm-text-input>
      </vfm-form-item>
    </div>
    <div nz-col nzSpan="6">
      <vfm-form-item label="Created date" controlSpan="24" i18n-label>
        <vfm-text-input
          id="createdAt"
          formControlName="createdAt"
        ></vfm-text-input>
      </vfm-form-item>
    </div>
    <div nz-col nzSpan="6">
      <vfm-form-item label="Modify by" controlSpan="24" i18n-label>
        <vfm-text-input
          id="updatedBy"
          formControlName="updatedBy"
        ></vfm-text-input>
      </vfm-form-item>
    </div>
    <div nz-col nzSpan="6">
      <vfm-form-item label="Modify date" controlSpan="24" i18n-label>
        <vfm-text-input
          id="updatedAt"
          formControlName="updatedAt"
        ></vfm-text-input>
      </vfm-form-item>
    </div>
  </div>
  <div nz-row nzGutter="20" nzJustify="end" style="margin: 10px">
    <div nz-col>
      <button nz-button type="submit" nzType="primary" *ngIf="form.getRawValue().id" i18n>
        Edit
      </button>
      <button nz-button type="submit" nzType="primary" *ngIf="!form.getRawValue().id" i18n>
        Save
      </button>
    </div>
  </div>
</form>


