<div style="margin: 0.5em;"     *ngIf="dataType!=='Notes'">
  <vfm-dummy-table-checkboxes
    [haveEdit]="true"
    [allItems]="items"
    [listOfColumns]="allTableColumns"
    (onItemDblClick)="editItem($event)"
    (onItemClick)="currentItemSelect($event)"
  >
  </vfm-dummy-table-checkboxes>
  <div nz-row nzGutter="10"  style="margin: 0.5em;">
    <div nz-col>
      <button nz-button nzType="default" type="button" id="addButton" (click)="editItem()">
        <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
        <span >Add</span>
      </button>
    </div>
    <div nz-col>
      <button
        type="button"
        id="editButton"
        nz-button nzType="default"
        (click)="editItem(currentItem)"
        [disabled]="!currentItem"
      >
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        <span >Edit</span>
      </button>
    </div>
    <div nz-col>
      <button
        type="button"
        id="deleteButton"
        nz-button
        nzType="default"
        nzDanger
        (click)="removeItem()"
        [disabled]="!currentItem"
      >
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        <span >Delete</span>
      </button>
    </div>
  </div>
</div>

<div style="margin: 0.5em;" *ngIf="dataType==='Notes'">
<vfm-text-area autosize="false" ></vfm-text-area>
<div nz-row nzGutter="10"  style="margin: 0.5em;">
  <div nz-col>
    <button nz-button nzType="default" type="button" id="saveButton" (click)="saveNotes()">
      <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
      <span>Save</span>
    </button>
  </div>
</div>
</div>
