<div
  [ngClass]="{
    'ant-form-item-has-error':
      control && control.invalid && (control.dirty || control.touched)
  }"
>
  <nz-date-picker
    [nzFormat]="format"
    [id]="id"
    #datepicker
    style="width: 100%"
    [nzShowTime]="showTime"
    [nzDisabled]="disabled"
    [ngClass]="{
      'ng-dirty ng-invalid':
        control && control.invalid && (control.dirty || control.touched)
    }"
  ></nz-date-picker>
  <div
    class="ant-form-item-explain-error"
    *ngIf="control && control.invalid && (control.dirty || control.touched)"
  >
    {{ control.errors | vfmValidationErrorI18N }}
  </div>
</div>
